main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 30px 40px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  .form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    label {
      font-size: 17px;
      color: #777;
      margin-bottom: 5px;
    }
    input {
      font-size: 14px;
      padding: 10px;
      border: 2px solid #f0f0f0;
      border-radius: 4px;
    }
    small {
      visibility: hidden;
      height: 20px;
      color: #E74C3C;
    }
    &.error {
      input {
        border-color: #E74C3C;
        &:focus {
          outline: none;
        }
      }
      small {
        visibility: visible;
      }
    }
  }
  .btn-submit {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #3498DB;
    border: 2px solid #3498DB;
    border-radius: 4px;
    &:hover {
      cursor: pointer;
    }
  }
}